<main class="zona-main container">
  <!-- 🔵 Card principal con nombre y detalles de zona -->
  <div class="card shadow-sm border-dark my-4 zona-card">
    <div class="card-body text-center">
      <h1 class="fw-bold mb-4">{{ zona.nombre }}</h1>
      <p class="zona-detalle">{{ zona.estacion }}</p>
      <p class="zona-detalle"><strong>📌</strong> {{ zona.coordenadas }}</p>
    </div>
  </div>

  <div class="mb-3" *ngIf="temporadas.length > 0">
    <label class="form-label">Filtrar por temporada</label>
    <select
      class="form-select"
      [(ngModel)]="temporadaSeleccionadaId"
      (change)="actualizarGraficoGradosDia()"
    >
      <option [ngValue]="null">Todas las temporadas</option>
      <option *ngFor="let temp of temporadas" [ngValue]="temp.id">
        {{ temp.nombre }}
      </option>
    </select>
  </div>

  <!-- 💧 Sección: Consumo de Agua -->
  <div class="card shadow-sm border-dark mb-4">
    <div
      class="card-header d-flex justify-content-between align-items-center bg-primary text-white"
      style="cursor: pointer"
      (click)="mostrarConsumo = !mostrarConsumo"
    >
      <h5 class="mb-0">Recomendación de Riego 💧</h5>
      <i
        class="fas"
        [ngClass]="mostrarConsumo ? 'fa-chevron-up' : 'fa-chevron-down'"
      ></i>
    </div>

    <div class="card-body" *ngIf="mostrarConsumo">
      <div class="mb-3 text-end">
        <button class="btn btn-outline-success" (click)="exportarConsumoAgua()">
          Descargar Excel
        </button>
      </div>
      <!-- 🔘 Botones admin -->
      <div *ngIf="esAdmin" class="mb-3 text-end">
        <button
          class="btn btn-success"
          [disabled]="generando"
          (click)="generarRecomendacion()"
        >
          <span *ngIf="generando">
            <i class="spinner-border spinner-border-sm me-1"></i> Generando...
          </span>
          <span *ngIf="!generando"> Generar Recomendación </span>
        </button>
        <button
          class="btn btn-outline-primary ms-2"
          (click)="abrirModalManual()"
        >
          Agregar Manualmente
        </button>
        <button
          class="btn btn-outline-danger ms-2"
          (click)="abrirModalEliminarConsumo()"
        >
          Eliminar Registros
        </button>
        <button
          class="btn btn-outline-info ms-2"
          [disabled]="ejecutandoCache"
          (click)="ejecutarCacheDaily()"
        >
          <span *ngIf="ejecutandoCache">
            <i class="spinner-border spinner-border-sm me-1"></i>
            Actualizando...
          </span>
          <span *ngIf="!ejecutandoCache">Actualizar Caché</span>
        </button>
      </div>

      <!-- 📊 Tabla de Consumo -->
      <div class="tabla-scroll table-responsive">
        <table
          class="table table-bordered table-striped text-center tabla-fija"
        >
          <thead class="table-secondary">
            <tr>
              <th>Semana</th>
              <th>ETo (mm)</th>
              <th>Precipitación (mm)</th>
              <th>Kc</th>
              <th>ETc (mm)</th>
              <th>Pivote (mm)</th>
              <th>Cobertura (mm)</th>
              <th>Carrete (mm)</th>
              <th>Aspersión (mm)</th>
              <th *ngIf="esAdmin">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dato of consumoFiltrado">
              <td>
                {{ dato.semana_inicio | date : "dd-MM-yyyy" }} a
                {{ dato.semana_fin | date : "dd-MM-yyyy" }}
              </td>
              <td>{{ dato.eto | number : "1.0-0" }}</td>
              <td>{{ dato.precipitacion | number : "1.0-0" }}</td>
              <td>{{ dato.kc | number : "1.1-1" }}</td>
              <td>{{ dato.etc | number : "1.0-0" }}</td>
              <td>{{ dato.consumo_pivote | number : "1.0-0" }}</td>
              <td>{{ dato.consumo_cobertura | number : "1.0-0" }}</td>
              <td>{{ dato.consumo_carrete | number : "1.0-0" }}</td>
              <td>{{ dato.consumo_aspersor | number : "1.0-0" }}</td>
              <td *ngIf="esAdmin">
                <button
                  class="btn btn-sm btn-warning me-1"
                  (click)="editarConsumo(dato)"
                >
                  Editar
                </button>
                <button
                  class="btn btn-sm btn-danger"
                  (click)="eliminarConsumo(dato.id!)"
                >
                  Eliminar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- 🌦️ Sección: Información Climática -->
  <div class="card shadow-sm border-dark mb-4">
    <div
      class="card-header d-flex justify-content-between align-items-center bg-primary text-white"
      style="cursor: pointer"
      (click)="mostrarClima = !mostrarClima"
    >
      <h5 class="mb-0">Información Climática 🌦️</h5>
      <i
        class="fas"
        [ngClass]="mostrarClima ? 'fa-chevron-up' : 'fa-chevron-down'"
      ></i>
    </div>

    <div class="card-body" *ngIf="mostrarClima">
      <div class="mb-3 text-end">
        <button class="btn btn-outline-success" (click)="exportarClima()">
          Descargar Excel
        </button>
      </div>
      <!-- 🔘 Botones admin -->
      <div *ngIf="esAdmin" class="mb-3 text-end">
        <button
          class="btn btn-success"
          [disabled]="cargandoClima"
          (click)="cargarClimaSemanal()"
        >
          <span *ngIf="cargandoClima">
            <i class="spinner-border spinner-border-sm me-1"></i> Cargando...
          </span>
          <span *ngIf="!cargandoClima">Ver clima semanal</span>
        </button>
        <button
          class="btn btn-outline-primary ms-2"
          (click)="abrirModalClimaManual()"
        >
          Agregar Clima Manual
        </button>
        <button
          class="btn btn-outline-danger ms-2"
          (click)="abrirModalEliminarClima()"
        >
          Eliminar Registros
        </button>
      </div>

      <!-- 📊 Tabla de Clima con scroll -->
      <div class="tabla-scroll table-responsive">
        <table
          class="table table-bordered table-striped text-center tabla-fija"
        >
          <thead class="table-secondary">
            <tr>
              <th>Fecha</th>
              <th>Temperatura Mínima (°C)</th>
              <th>Temperatura Máxima (°C)</th>
              <th>Temperatura Promedio (°C)</th>
              <th>Precipitación (mm)</th>
              <th>Grados Día Base 3</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dia of climaFiltrado">
              <td>{{ dia.fecha | date : "dd-MM-yyyy" }}</td>
              <td>{{ dia.ta_min | number : "1.0-0" }}</td>
              <td>{{ dia.ta_max | number : "1.0-0" }}</td>
              <td>{{ dia.ta_prom | number : "1.0-0" }}</td>
              <td>{{ dia.precipitacion | number : "1.0-0" }}</td>
              <td>{{ dia.grados_dia | number : "1.0-0" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- 📈 Sección: Gráfico Climática -->
  <div class="card shadow-sm border-dark mb-4">
    <div
      class="card-header bg-primary text-white d-flex justify-content-between align-items-center"
      style="cursor: pointer"
      (click)="mostrarGrafico = !mostrarGrafico"
    >
      <h5 class="mb-0">Grados Día (T Base 3) 📈</h5>
      <i
        class="fas"
        [ngClass]="mostrarGrafico ? 'fa-chevron-up' : 'fa-chevron-down'"
      ></i>
    </div>
    <div class="card-body" *ngIf="mostrarGrafico">
      <div class="d-flex justify-content-between flex-wrap mb-3">
        <div class="me-2">
          <label class="form-label mb-1">Acumular desde</label>
          <input
            type="date"
            class="form-control"
            [(ngModel)]="fechaInicioGradosDia"
            (change)="actualizarGraficoGradosDia()"
          />
        </div>
        <button class="btn btn-outline-success align-self-end" (click)="descargarGrafico()">
          Descargar Gráfico
        </button>
      </div>
      <canvas
        #graficoCanvas
        baseChart
        [data]="chartData"
        [options]="chartOptions"
        [type]="'line'"
      ></canvas>
    </div>
  </div>

  <!-- 📊 Sección: Consumos Temporadas -->
  <div class="card shadow-sm border-dark mb-4">
    <div
      class="card-header bg-primary text-white d-flex justify-content-between align-items-center"
      style="cursor: pointer"
      (click)="mostrarGraficoEto = !mostrarGraficoEto"
    >
      <h5 class="mb-0">Consumos Temporadas 📊</h5>
      <i
        class="fas"
        [ngClass]="mostrarGraficoEto ? 'fa-chevron-up' : 'fa-chevron-down'"
      ></i>
    </div>
    <div class="card-body" *ngIf="mostrarGraficoEto">
      <div *ngIf="esAdmin" class="mb-3 text-end">
        <button
          class="btn btn-success me-2"
          [disabled]="cargandoEto"
          (click)="cargarEtoSemanal()"
        >
          <span *ngIf="cargandoEto">
            <i class="spinner-border spinner-border-sm me-1"></i> Cargando...
          </span>
          <span *ngIf="!cargandoEto">Ver ETo semanal</span>
        </button>
        <button class="btn btn-outline-primary" (click)="abrirModalEtoManual()">
          Agregar ETo Manual
        </button>
        <button
          class="btn btn-outline-danger ms-2"
          (click)="abrirModalEliminarEto()"
        >
          Eliminar Registros
        </button>
      </div>
      <div class="card-body text-end">
        <button
          class="btn btn-outline-success mb-3"
          (click)="descargarGraficoEto()"
        >
          Descargar Gráfico
        </button>
      </div>

      <div class="row mb-3">
        <div class="col-md-6">
          <label class="form-label">Variable</label>
          <select
            class="form-select"
            [(ngModel)]="variableSeleccionada"
            (change)="actualizarGraficoEtoConsumo()"
          >
            <option value="eto">ETo (mm)</option>
            <option value="consumo_pivote">Pivote (mm)</option>
            <option value="consumo_cobertura">Cobertura (mm)</option>
            <option value="consumo_carrete">Carrete (mm)</option>
            <option value="consumo_aspersor">Aspersión (mm)</option>
          </select>
        </div>
        <div class="col-md-6">
          <label class="form-label">Temporadas</label>
          <div *ngFor="let temp of temporadas">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                [id]="'temp' + temp.id!"
                [(ngModel)]="temporadasVisibles[temp.id!]"
                (change)="actualizarGraficoEtoConsumo()"
              />

              <!-- 🟢 Modal: Previsualizar ETo Diario -->
              <div
                class="modal fade"
                id="modalEto"
                tabindex="-1"
                aria-hidden="true"
                [ngClass]="{ 'show d-block': mostrarModalEto }"
              >
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Previsualización ETo Diario</h5>
                      <button
                        type="button"
                        class="btn-close"
                        (click)="mostrarModalEto = false"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <div class="col-md-4 mb-2">
                        <label>Temporada:</label>
                        <select
                          class="form-select"
                          [(ngModel)]="temporadaSeleccionadaId"
                        >
                          <option [ngValue]="null" disabled>
                            Seleccionar temporada
                          </option>
                          <option
                            *ngFor="let temp of temporadas"
                            [ngValue]="temp.id"
                          >
                            {{ temp.nombre }}
                          </option>
                        </select>
                      </div>
                      <table class="table table-striped table-sm text-center">
                        <thead>
                          <tr>
                            <th>Fecha</th>
                            <th>ETo (mm)</th>
                            <th>Kc</th>
                            <th>Pivote</th>
                            <th>Cobertura</th>
                            <th>Carrete</th>
                            <th>Aspersión</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let dia of etoSemanalPreview">
                            <td>{{ dia.fecha | date : "dd-MM-yyyy" }}</td>
                            <td>{{ dia.eto | number : "1.1-1" }}</td>
                            <td>
                              <input
                                type="number"
                                step="0.01"
                                class="form-control form-control-sm text-center"
                                [(ngModel)]="dia.kc"
                                (ngModelChange)="recalcularConsumosEto(dia)"
                              />
                            </td>
                            <td>{{ dia.consumo_pivote | number : "1.1-1" }}</td>
                            <td>
                              {{ dia.consumo_cobertura | number : "1.1-1" }}
                            </td>
                            <td>
                              {{ dia.consumo_carrete | number : "1.1-1" }}
                            </td>
                            <td>
                              {{ dia.consumo_aspersor | number : "1.1-1" }}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="modal-footer">
                      <button
                        class="btn btn-secondary"
                        (click)="mostrarModalEto = false"
                      >
                        Cancelar
                      </button>
                      <button
                        class="btn btn-primary"
                        (click)="guardarEtoSemanal()"
                      >
                        Guardar
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- 🟢 Modal: Agregar ETo Manual -->
              <div
                class="modal fade"
                id="modalEtoManual"
                tabindex="-1"
                aria-hidden="true"
                [ngClass]="{ 'show d-block': mostrarModalEtoManual }"
              >
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <form (ngSubmit)="guardarEtoManual()">
                      <div class="modal-header bg-success text-white">
                        <h5 class="modal-title">Agregar ETo Manual</h5>
                        <button
                          type="button"
                          class="btn-close"
                          (click)="mostrarModalEtoManual = false"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <div class="mb-3">
                          <label>Temporada</label>
                          <select
                            class="form-select"
                            [(ngModel)]="temporadaSeleccionadaId"
                            name="temporadaEtoManual"
                            required
                          >
                            <option [ngValue]="null" disabled>
                              Seleccionar temporada
                            </option>
                            <option
                              *ngFor="let temp of temporadas"
                              [ngValue]="temp.id"
                            >
                              {{ temp.nombre }}
                            </option>
                          </select>
                        </div>
                        <table class="table table-striped table-sm text-center">
                          <thead class="table-secondary">
                            <tr>
                              <th>Fecha</th>
                              <th>ETo (mm)</th>
                              <th>Kc</th>
                              <th>Pivote</th>
                              <th>Cobertura</th>
                              <th>Carrete</th>
                              <th>Aspersión</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let dia of etoManual; let i = index">
                              <td>
                                <input
                                  type="date"
                                  class="form-control"
                                  [(ngModel)]="dia.fecha"
                                  name="fechaEto{{ i }}"
                                  required
                                />
                              </td>
                              <td>
                                <input
                                  type="number"
                                  step="0.01"
                                  class="form-control form-control-sm text-center"
                                  [(ngModel)]="dia.eto"
                                  name="eto{{ i }}"
                                  required
                                  (ngModelChange)="recalcularConsumosEto(dia)"
                                />
                              </td>
                              <td>
                                <input
                                  type="number"
                                  step="0.01"
                                  class="form-control form-control-sm text-center"
                                  [(ngModel)]="dia.kc"
                                  name="kc{{ i }}"
                                  required
                                  (ngModelChange)="recalcularConsumosEto(dia)"
                                />
                              </td>
                              <td>
                                {{ dia.consumo_pivote | number : "1.1-1" }}
                              </td>
                              <td>
                                {{ dia.consumo_cobertura | number : "1.1-1" }}
                              </td>
                              <td>
                                {{ dia.consumo_carrete | number : "1.1-1" }}
                              </td>
                              <td>
                                {{ dia.consumo_aspersor | number : "1.1-1" }}
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <button
                          type="button"
                          class="btn btn-outline-primary"
                          (click)="agregarFilaEtoManual()"
                        >
                          ➕ Agregar Día
                        </button>
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          (click)="mostrarModalEtoManual = false"
                        >
                          Cancelar
                        </button>
                        <button type="submit" class="btn btn-success">
                          Guardar
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <label class="form-check-label" [for]="'temp' + temp.id">
                {{ temp.nombre }}
              </label>
            </div>
          </div>
        </div>
      </div>
      <canvas
        baseChart
        #graficoEtoCanvas
        [data]="chartEtoData"
        [options]="chartEtoOptions"
        [type]="'line'"
      ></canvas>
    </div>
  </div>
</main>

<!-- 🔄 Modal combinado: Previsualizar y editar Recomendación -->
<div
  class="modal fade"
  id="modalRecomendacion"
  tabindex="-1"
  aria-hidden="true"
  [ngClass]="{ 'show d-block': mostrarModalRecomendacion }"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content" *ngIf="recomendacionPreview">
      <div class="modal-header bg-info text-white">
        <h5 class="modal-title">Previsualización Recomendación</h5>
        <button
          type="button"
          class="btn-close"
          (click)="mostrarModalRecomendacion = false"
        ></button>
      </div>
      <div class="modal-body row g-3">
        <div class="col-md-4">
          <label>Kc:</label>
          <input
            type="number"
            step="0.01"
            min="0"
            max="2"
            class="form-control"
            [(ngModel)]="recomendacionPreview.kc"
            (ngModelChange)="recalcularValoresRecomendacion()"
          />
        </div>
        <div class="col-md-4">
          <label>ETo:</label>
          <input
            type="number"
            step="0.01"
            class="form-control"
            [(ngModel)]="recomendacionPreview.eto"
            (ngModelChange)="recalcularValoresRecomendacion()"
          />
        </div>
        <div class="col-md-4">
          <label>Precipitación (mm):</label>
          <input
            type="number"
            step="0.01"
            class="form-control"
            [(ngModel)]="recomendacionPreview.precipitacion"
          />
        </div>

        <!-- Campos calculados -->
        <div
          class="col-md-3"
          *ngFor="
            let key of [
              'etc',
              'consumo_pivote',
              'consumo_cobertura',
              'consumo_carrete',
              'consumo_aspersor'
            ]
          "
        >
          <label>{{ key.replace("_", " ") | titlecase }}:</label>
          <input
            type="text"
            class="form-control"
            [value]="recomendacionPreview[key]"
            readonly
          />
        </div>
        <div class="col-md-4">
          <label>Temporada:</label>
          <select
            class="form-select"
            name="temporada"
            required
            [(ngModel)]="recomendacionPreview.id_temporada"
            #temporadaCtrl="ngModel"
          >
            <option [ngValue]="null" disabled>Seleccionar temporada</option>
            <option *ngFor="let temp of temporadas" [ngValue]="temp.id">
              {{ temp.nombre }}
            </option>
          </select>
          <div
            class="text-danger"
            *ngIf="temporadaCtrl.invalid && temporadaCtrl.touched"
          >
            Debes seleccionar una temporada.
          </div>
        </div>
      </div>
      <hr />
      <button
        class="btn btn-outline-secondary mb-3"
        (click)="mostrarEtoDetalle = !mostrarEtoDetalle"
      >
        {{ mostrarEtoDetalle ? "Ocultar" : "Mostrar" }} Detalles de ETo por Día
      </button>

      <div *ngIf="mostrarEtoDetalle" class="table-responsive">
        <table class="table table-sm table-bordered text-center">
          <thead class="table-light">
            <tr>
              <th>Fecha</th>
              <th>ETo (mm)</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let fecha of obtenerFechasOrdenadas()">
              <td>{{ fecha }}</td>
              <td>{{ recomendacionFechasEto[fecha] }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-secondary"
          (click)="mostrarModalRecomendacion = false"
        >
          Cancelar
        </button>
        <button class="btn btn-primary" (click)="guardarRecomendacion()">
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Eliminar ETo Diario -->
<div
  class="modal fade"
  id="modalEliminarEto"
  tabindex="-1"
  aria-hidden="true"
  [ngClass]="{ 'show d-block': mostrarModalEliminarEto }"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title">Eliminar ETo Diario</h5>
        <button
          type="button"
          class="btn-close"
          (click)="mostrarModalEliminarEto = false"
        ></button>
      </div>
      <div class="modal-body">
        <input
          type="text"
          class="form-control mb-2"
          placeholder="Buscar..."
          [(ngModel)]="filtroEto"
        />
        <div class="tabla-scroll table-responsive">
          <table class="table table-sm table-bordered text-center">
            <thead class="table-secondary">
              <tr>
                <th></th>
                <th>Fecha</th>
                <th>ETo</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let e of etoBusqueda">
                <td>
                  <input
                    type="checkbox"
                    (change)="onCheckChange(e.id_eto_dia!, $event, 'eto')"
                  />
                </td>
                <td>{{ e.fecha | date : "dd-MM-yyyy" }}</td>
                <td>{{ e.eto }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-secondary"
          (click)="mostrarModalEliminarEto = false"
        >
          Cancelar
        </button>
        <button class="btn btn-danger" (click)="confirmarEliminarEto()">
          Eliminar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Eliminar Clima -->
<div
  class="modal fade"
  id="modalEliminarClima"
  tabindex="-1"
  aria-hidden="true"
  [ngClass]="{ 'show d-block': mostrarModalEliminarClima }"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title">Eliminar Información Climática</h5>
        <button
          type="button"
          class="btn-close"
          (click)="mostrarModalEliminarClima = false"
        ></button>
      </div>
      <div class="modal-body">
        <input
          type="text"
          class="form-control mb-2"
          placeholder="Buscar..."
          [(ngModel)]="filtroClima"
        />
        <div class="tabla-scroll table-responsive">
          <table class="table table-sm table-bordered text-center">
            <thead class="table-secondary">
              <tr>
                <th></th>
                <th>Fecha</th>
                <th>Min</th>
                <th>Max</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let d of climaBusqueda">
                <td>
                  <input
                    type="checkbox"
                    (change)="onCheckChange(d.id!, $event, 'clima')"
                  />
                </td>
                <td>{{ d.fecha | date : "dd-MM-yyyy" }}</td>
                <td>{{ d.ta_min }}</td>
                <td>{{ d.ta_max }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-secondary"
          (click)="mostrarModalEliminarClima = false"
        >
          Cancelar
        </button>
        <button class="btn btn-danger" (click)="confirmarEliminarClima()">
          Eliminar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Eliminar Consumo -->
<div
  class="modal fade"
  id="modalEliminarConsumo"
  tabindex="-1"
  aria-hidden="true"
  [ngClass]="{ 'show d-block': mostrarModalEliminarConsumo }"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title">Eliminar Consumo de Agua</h5>
        <button
          type="button"
          class="btn-close"
          (click)="mostrarModalEliminarConsumo = false"
        ></button>
      </div>
      <div class="modal-body">
        <input
          type="text"
          class="form-control mb-2"
          placeholder="Buscar..."
          [(ngModel)]="filtroConsumo"
        />
        <div class="tabla-scroll table-responsive">
          <table class="table table-sm table-bordered text-center">
            <thead class="table-secondary">
              <tr>
                <th></th>
                <th>Semana</th>
                <th>ETo</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let c of consumoBusqueda">
                <td>
                  <input
                    type="checkbox"
                    (change)="onCheckChange(c.id!, $event, 'consumo')"
                  />
                </td>
                <td>
                  {{ c.semana_inicio | date : "dd-MM-yyyy" }} a
                  {{ c.semana_fin | date : "dd-MM-yyyy" }}
                </td>
                <td>{{ c.eto }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-secondary"
          (click)="mostrarModalEliminarConsumo = false"
        >
          Cancelar
        </button>
        <button class="btn btn-danger" (click)="confirmarEliminarConsumo()">
          Eliminar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- 🟢 Modal: Agregar consumo manual -->
<div
  class="modal fade"
  id="modalManual"
  tabindex="-1"
  aria-labelledby="modalManualLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form (ngSubmit)="agregarManual()">
        <div class="modal-header">
          <h5 class="modal-title" id="modalManualLabel">
            Agregar Consumo Manual
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Cerrar"
          ></button>
        </div>
        <div class="modal-body row g-3">
          <div class="col-md-6">
            <label>Semana inicio:</label>
            <input
              type="date"
              class="form-control"
              [(ngModel)]="formularioManual.semana_inicio"
              name="semana_inicio"
              required
            />
          </div>
          <div class="col-md-6">
            <label>Semana fin:</label>
            <input
              type="date"
              class="form-control"
              [(ngModel)]="formularioManual.semana_fin"
              name="semana_fin"
              required
            />
          </div>
          <div class="col-md-4">
            <label>ETo:</label>
            <input
              type="number"
              step="0.01"
              class="form-control"
              [(ngModel)]="formularioManual.eto"
              name="eto"
              required
            />
          </div>
          <div class="col-md-4">
            <label>Kc:</label>
            <input
              type="number"
              step="0.01"
              class="form-control"
              [(ngModel)]="formularioManual.kc"
              name="kc"
              required
            />
          </div>
          <div class="col-md-4">
            <label>Precipitación:</label>
            <input
              type="number"
              step="0.01"
              class="form-control"
              [(ngModel)]="formularioManual.precipitacion"
              name="precipitacion"
              required
            />
          </div>
          <div class="col-md-4">
            <label>Temporada:</label>
            <select
              class="form-select"
              [(ngModel)]="formularioManual.id_temporada"
              name="temporada"
              required
            >
              <option [ngValue]="null" disabled>Seleccionar temporada</option>
              <option *ngFor="let temp of temporadas" [ngValue]="temp.id">
                {{ temp.nombre }}
              </option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- 🌤️ Modal: Previsualización Clima -->
<div
  class="modal fade"
  id="modalClima"
  tabindex="-1"
  aria-hidden="true"
  [ngClass]="{ 'show d-block': mostrarModalClima }"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Previsualización Información Climática</h5>
        <button
          type="button"
          class="btn-close"
          (click)="mostrarModalClima = false"
        ></button>
      </div>
      <div class="modal-body">
        <div class="col-md-4">
          <label>Temporada:</label>
          <select
            class="form-select"
            [(ngModel)]="temporadaSeleccionadaId"
            name="temporada"
            required
          >
            <option [ngValue]="null" disabled>Seleccionar temporada</option>
            <option *ngFor="let temp of temporadas" [ngValue]="temp.id">
              {{ temp.nombre }}
            </option>
          </select>
        </div>
        <div class="table-responsive">
          <table class="table table-striped table-sm text-center">
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Temperatura Mínima (°C)</th>
                <th>Temperatura Máxima (°C)</th>
                <th>Temperatura Promedio (°C)</th>
                <th>Precipitación (mm)</th>
                <th>Grados Día</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let dia of climaSemanalPreview">
                <td>{{ dia.fecha | date : "dd-MM-yyyy" }}</td>
                <td>
                  <input
                    type="number"
                    class="form-control form-control-sm text-center"
                    [(ngModel)]="dia.temp_min"
                    step="0.1"
                  />
                </td>
                <td>
                  <input
                    type="number"
                    class="form-control form-control-sm text-center"
                    [(ngModel)]="dia.temp_max"
                    step="0.1"
                  />
                </td>
                <td>
                  <input
                    type="number"
                    class="form-control form-control-sm text-center"
                    [(ngModel)]="dia.temp_promedio"
                    [value]="((dia.temp_min + dia.temp_max) / 2).toFixed(2)"
                    step="0.1"
                  />
                </td>
                <td>
                  <input
                    type="number"
                    class="form-control form-control-sm text-center"
                    [(ngModel)]="dia.precipitacion"
                    step="0.1"
                  />
                </td>
                <td>
                  <span class="badge bg-success">{{
                    calcularGradosDia(dia.temp_promedio) | number : "1.1-1"
                  }}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="mostrarModalClima = false">
          Cancelar
        </button>
        <button class="btn btn-primary" (click)="guardarClima()">
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- 🟢 Modal: Agregar Clima Manual -->
<div
  class="modal fade"
  id="modalClimaManual"
  tabindex="-1"
  aria-hidden="true"
  [ngClass]="{ 'show d-block': mostrarModalClimaManual }"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form (ngSubmit)="guardarClimaManual()">
        <div class="modal-header bg-success text-white">
          <h5 class="modal-title">Agregar Información Climática Manual</h5>
          <button
            type="button"
            class="btn-close"
            (click)="mostrarModalClimaManual = false"
          ></button>
        </div>
        <div class="modal-body">
          <!-- 🌱 Temporada -->
          <div class="mb-3">
            <label>Temporada</label>
            <select
              class="form-select"
              [(ngModel)]="temporadaSeleccionadaId"
              name="temporadaManual"
              required
            >
              <option [ngValue]="null" disabled>Seleccionar temporada</option>
              <option *ngFor="let temp of temporadas" [ngValue]="temp.id">
                {{ temp.nombre }}
              </option>
            </select>
          </div>

          <!-- 📆 Tabla de ingreso de días -->
          <div class="table-responsive">
            <table class="table table-striped table-sm text-center">
              <thead class="table-secondary">
                <tr>
                  <th>Fecha</th>
                  <th>Temperatura Mínima (°C)</th>
                  <th>Temperatura Máxima (°C)</th>
                  <th>Temperatura Promedio (°C)</th>
                  <th>Precipitación (mm)</th>
                  <th>Grados Día</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let dia of climaManual; let i = index">
                  <td>
                    <input
                      type="date"
                      class="form-control"
                      [(ngModel)]="dia.fecha"
                      name="fecha{{ i }}"
                      required
                    />
                  </td>
                  <td>
                    <input
                      type="number"
                      class="form-control form-control-sm text-center"
                      [(ngModel)]="dia.temp_min"
                      name="min{{ i }}"
                      step="0.1"
                      required
                    />
                  </td>
                  <td>
                    <input
                      type="number"
                      class="form-control form-control-sm text-center"
                      [(ngModel)]="dia.temp_max"
                      name="max{{ i }}"
                      step="0.1"
                      required
                    />
                  </td>
                  <td>
                    <input
                      type="number"
                      class="form-control form-control-sm text-center"
                      [value]="((dia.temp_min + dia.temp_max) / 2).toFixed(2)"
                      [(ngModel)]="dia.temp_promedio"
                      name="prom{{ i }}"
                      step="0.1"
                      required
                    />
                  </td>
                  <td>
                    <input
                      type="number"
                      class="form-control form-control-sm text-center"
                      [(ngModel)]="dia.precipitacion"
                      name="precip{{ i }}"
                      step="0.1"
                      required
                    />
                  </td>
                  <td>
                    <span class="badge bg-primary">{{
                      calcularGradosDia(+dia.temp_promedio) | number : "1.1-1"
                    }}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <button
            class="btn btn-outline-primary"
            type="button"
            (click)="agregarFilaClima()"
          >
            ➕ Agregar Día
          </button>
        </div>

        <div class="modal-footer">
          <button
            class="btn btn-secondary"
            (click)="mostrarModalClimaManual = false"
            type="button"
          >
            Cancelar
          </button>
          <button class="btn btn-success" type="submit">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- 🟡 Modal: Editar Consumo Agua -->
<div
  class="modal fade"
  id="editarkcModal"
  tabindex="-1"
  aria-labelledby="editarkcModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" *ngIf="consumoSeleccionado">
      <div class="modal-header bg-warning text-dark">
        <h5 class="modal-title" id="editarkcModalLabel">
          Editar Kc del Consumo
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label>Semana</label>
            <div class="form-control" disabled>
              {{ consumoSeleccionado.semana_inicio | date : "dd-MM-yyyy" }} a
              {{ consumoSeleccionado.semana_fin | date : "dd-MM-yyyy" }}
            </div>
          </div>
          <div class="mb-3">
            <label>ETo</label>
            <input
              type="number"
              step="0.01"
              min="0"
              [(ngModel)]="consumoSeleccionado.eto"
              name="EToEdit"
              class="form-control"
            />
          </div>
          <div class="mb-3">
            <label>Kc</label>
            <input
              type="number"
              step="0.01"
              min="0"
              max="2"
              [(ngModel)]="consumoSeleccionado.kc"
              name="kcEdit"
              class="form-control"
            />
          </div>
          <div class="mb-3">
            <label>Temporada:</label>
            <select
              class="form-select"
              [(ngModel)]="consumoSeleccionado.id_temporada"
              name="temporadaEdit"
              class="form-control"
            >
              <option *ngFor="let temp of temporadas" [ngValue]="temp.id">
                {{ temp.nombre }}
              </option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button class="btn btn-primary" (click)="guardarEdicionConsumo()">
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- 🔻 Footer -->
<footer class="zona-footer text-center py-3 bg-dark text-light">
  <p>© 2025 IANSA Riego. Todos los derechos reservados.</p>
</footer>
